/* You can delete some animations if you don't need them */

/* ===== TRANSITIONS ===== */

/* Tab label animation on hover */
.tabbrowser-tab .tab-label {
	transition: transform 0.3s ease !important;
}

.tabbrowser-tab:hover .tab-label {
	transform: translateY(3px);
}

/* Titlebar buttons animation on hover */
.titlebar-button {
	transform: scale(1);
	transition: transform 0.15s ease-out, opacity 0.3s ease-out !important;
}

.titlebar-button:hover {
	transform: scale(1.05) translateY(-3px);
}

/* Dark overlay when typing */
#urlbar {
	box-shadow: 0 0 0 100vw transparent;
	transition: box-shadow 250ms ease-out !important;
}

#urlbar[open] {
	box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5) !important;
	transition: box-shadow 250ms ease-out !important;
	overflow: hidden !important;
}
